@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

/* global css */
img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.btn {
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  margin-top: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  /* customize */
  background-color: #1c2042;
  border: 2px solid #1c2042;
}

@media screen and (min-width: 576px) {
}

/* Medium devices (tablets) */

@media (min-width: 768px) {
}

/* Large devices (desktops) */

@media (min-width: 991px) {
  .twitter-container {
    width: 10rem;
    padding: 3rem;
    gap: 1rem;
  }
  .side-bar-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    border-right-color: #1c2042;
    gap: 2rem;
    margin-left: 5rem;
  }

  .img-logo {
    width: 2rem;
    margin-top: -2rem;
  }
  .sidebar {
    display: flex;
    flex-direction: row;
    width: 1.5rem;
    font-size: 18px;
    gap: 1rem;
  }
  .row1 {
    margin-bottom: 1.2rem;
    color: black;
  }
  .side-bar-column :hover {
    color: rgb(122, 186, 251);
  }
  .sidebar-tweet {
    background-color: rgb(122, 186, 251);
    color: #fff;
    padding: 0.7rem 4rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 30px;
    border: #fff;
    text-decoration: none;
  }
  .sidebar-tweet:hover {
    background-color: rgb(18, 117, 216);
  }
  .sidebar-profile {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
  }
  .avatar-img {
    width: 3rem;
    border-radius: 100px;
  }
  .avatar-name {
    font-weight: 700;
  }
  .avatar-more {
    width: 1rem;
  }

  .twitter-home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    margin-left: 45rem;
    margin-top: -44rem;
  }
  .header-nav-container {
    border-bottom: 2px solid rgb(224, 223, 223);
    width: 45rem;
    border-left: 2px solid rgb(224, 223, 223);
    border-right: 2px solid rgb(224, 223, 223);
  }

  .heading-home {
    position: relative;
    font-size: 1.5rem;
    padding: 1rem;
  }

  .post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    border-bottom: 6px solid rgb(224, 223, 223);
    width: 45rem;
    border-left: 2px solid rgb(224, 223, 223);
    border-right: 2px solid rgb(224, 223, 223);
    margin-top: -2rem;
  }

  .post-avatar {
    border-radius: 50rem;
    width: 3rem;
    margin-left: -20rem;
    margin-top: 2rem;
  }

  .label-text {
    margin-top: -2.2rem;
    margin-left: -18rem;
  }
  .share-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 1.5rem;
    gap: 1rem;
    margin-top: 1rem;
    margin-left: -0.5rem;
  }
  .share-button {
    background-color: rgb(122, 186, 251);
    color: #fff;
    padding: 0.7rem 3rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 30px;
    border: #fff;
    text-decoration: none;
    margin-top: 1.5rem;
    margin-left: 8rem;
    margin-bottom: 2rem;
  }
  .share-button:hover {
    background-color: rgb(18, 117, 216);
  }

  .post-peoples-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    width: 45rem;
    border-top: 2px solid rgb(224, 223, 223);
    border-left: 2px solid rgb(224, 223, 223);
    border-right: 2px solid rgb(224, 223, 223);
    margin-top: -2rem;
  }

  .isha-img {
    width: 3rem;
    border-radius: 50rem;
    margin-top: 2rem;
    margin-left: 2rem;
  }

  .isha-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .heading-name {
    margin-top: -2.5rem;
    font-size: 16px;
    margin-left: -16rem;
  }
  .correct {
    width: 1rem;
    margin-left: -16rem;
  }

  .isha-para {
    margin-top: 1rem;
    margin-left: 5.5rem;
  }
  .isha-main-img {
    width: 38rem;
  }
  .isha-pic {
    border-radius: 12px;
    margin-left: 2rem;
  }

  .isha-tweet-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 1.5rem;
    width: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .footer-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;

    margin-left: 78rem;
    margin-top: -205rem;
  }

  .footer-search {
    width: 20rem;
    border-radius: 18px;
    padding: 0.6rem;
    background-color: #fffdfd;
    border-width: 0.5rem;
    margin-left: 1rem;
  }
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    background-color: rgb(230, 229, 229);
    width: 20rem;
    margin-left: 1rem;
    padding: 2rem;
    border-radius: 12px;
  }

  .footer-tittle {
    font-size: 18px;
    margin-top: -0.5rem;
    margin-left: -4rem;
  }

  .footer-inside-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    width: 18rem;
    padding: 1rem;
    border-radius: 12px;
    gap: 1rem;
  }
  .footer-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;
  }
  .footer-avatar {
    width: 2rem;
    border-radius: 50rem;
  }
  .footer-name {
    font-size: 16px;
    font-weight: 600;
  }
  .footer-correct {
    width: 0.8rem;
  }
  .footer-twitter-logo {
    width: 1.5rem;
    margin-left: 1.5rem;
  }
  .footer-follow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    margin-top: -1rem;
    margin-left: -2rem;
    font-size: 12px;
  }

  .footer-req {
    font-size: 16px;
    font-weight: 600;
    color: dodgerblue;
  }
  .footer-paragraph {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    font-size: 12px;
    margin-left: -9rem;
  }
  .hastag {
    color: dodgerblue;
  }

  .footer-shiva {
    border-radius: 12px;
  }
  .footer-report {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 1rem;
    gap: 1rem;
  }
  .time-post {
    font-size: 12px;
  }

  .footer-like {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    width: 1rem;
    font-size: 12px;
  }

  .footer-button {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(237, 237, 237);
    color: dodgerblue;
    padding: 0.7rem 5rem;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 30px;
    text-decoration: none;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  .footer-btn :hover {
    background-color: dodgerblue;
    border-color: #fff;
    color: #fff;
  }

  .footer-2nd-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    background-color: rgb(238, 238, 238);
    width: 20rem;
    margin-left: 68.5rem;
    margin-top: 2rem;
    border-radius: 12px;
  }

  .footer-img-folder {
    width: 4rem;
    margin-left: -1rem;
    margin-top: 1rem;
  }
  .vengat {
    border-radius: 50rem;
    margin-left: 1rem;
  }
  .footer-names {
    margin-top: -3rem;
    margin-left: 5rem;
  }

  .follow-button {
    background-color: rgb(0, 0, 0);
    color: #fff;
    border: #fff;
    padding: 0.5rem 1.5rem;
    border-radius: 12px;
    margin-left: 5rem;
    margin-top: 1rem;
  }
  .footer-seemore {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .footer-links {
    margin-left: 79rem;
    margin-top: 2rem;
  }

  .links-lists {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 1rem;
    font-size: 12px;
    font-weight: 300;
  }
}

/* Extra large devices (large desktops) */

@media (min-width: 1200px) {
}
